.columns {
  width: 100%;
  height: 100%;
  background: black;
  color: white;

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__header {
    height: 25px;
    background: #222426;
    font-size: 12px;
    color: white;

  }

  &__block  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444448;
    margin-left: 0;
    overflow: visible;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  &__sortable {
    height: 100%;
    width: 100%;
  }
}