/* ==========================================================================
   CSS Кастомные свойства (типа переменные)
   ========================================================================== */
:root {
  // Colors
  --color-bg:              #fff;
  --color-text:            #000;
  --color-accent:          #0f81bc;
  --color-accent-contrast: #fff;
  --color-secondary:       #ccc;
  --color-error:           #f44336;

  // Fonts
  --font-size-sm: 12px;
  --font-size:    16px;

  // Pad
  --pad: 16px;
}


$size-xs: 0.25em;
$size-sm: 0.5em;
$size-md: 1.5em;
$size-lg: 2.5em;
$size-xl: 4.0em;