.lf_column {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #000000;
  position: relative;

  &__item {
    position: relative;
    cursor: pointer;
  }

  &__item_sub {
    padding-left: 15px;
  }

  &__item_inner {
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
  }

  &__item.hovered:hover {
    background: #f6f6f6;
  }

  &__item.hovered_sub:hover {
    background: #f0f0f0;
  }

  &__item__header {
    /*padding-top: 10px!important;*/
  }

  &__item:first-child {
    padding-top: 0;
  }

  &__item__title{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 19px;
  }
  &__item__desc{
    font-size: 12px;
    color: #202020;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 19px;
  }

  &__item.active > &__item_inner &__line,
  &__item.active > a > &__item_inner &__line{

    position: absolute;
    width: 1px;
    height: 50%;
    right: -1px;
    top: 25%;
    display: block;
  }

  &__item.active-bottom > &__item_inner &__line {
    position: absolute;
    width: 1px;
    height: 100%;
    right: -1px;
    top: 25%;
    display: block;
  }

  &__item.active-top > &__item_inner &__line {
    position: absolute;
    width: 1px;
    height: 75%;
    right: -1px;
    top: 0;
    display: block;

  }
}

.vertical__wall {
  float: none!important;
  position: relative;
}


.handleWall {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7px;
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.handleWall  > div{
  width: 100%;
  height: 100%;
  opacity: .2;
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAAG0lEQVQYV2NkYGD4z8DAwMiABFA4MHGQIIZKAEy1AgRnW1KsAAAAAElFTkSuQmCC  ) repeat;
}

.handleWall:hover > div {
  opacity: .6;
}