.image-card {
  position: relative;
  border: 1px solid transparent;
  box-sizing:  border-box;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &.no-left {
      border-left: none;
  }
  
  &.no-right {
      border-right: none;
  }

  &.no-top {
      border-top: none;
  }

  .image {
    position: absolute;
  }

  .link {
    color: white;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }

  .link:hover {
      color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }

  .title {
    position: absolute;
    bottom: 0;
    padding: 24px;
  }
}
