.pf_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  &__top {
    padding: 15px;
  }

  &__avatar {
    width:190px;
    height: 190px;
  }

  &__top > div {
    color: #000;
    font-size: 15px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
  }

  &__top > div:last-child {
    font-size: 12px;
  }

  &__info {
    padding: 15px;
  }

  &__info > div{
    color: #000;
    font-size: 12px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
  }

  &__footer {
  }

  &__footer > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    line-height: 20px;
  }

  &__follow_p {
    color: #232323;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 15px;
  }

  &__follow_block {
    max-height: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  &__follow_item {
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    color: #232323;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__follow_item:hover {
    background: #f4f9f5;
  }

  &__follow_point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__follow_point_p {
    z-index: 5;
    width: 6px;
    background-size: 100%;
    height: 6px;
    border-radius: 500px;
    display: block;
    right: 17px;
    top: 22px;
    background: #dedede;
  }
}