.column {
  -webkit-transition: box-shadow 0.25s ease-in-out 0;
  transition: box-shadow 0.25s ease-in-out 0;
  border-radius: 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 100%;
  margin: 0 6px 0 0;
  background-color: #222426;
  font-size: 1rem;
  white-space: normal;
  float: inherit!important;
}

