
html, body {
    font-family: 'Open sans';
}

.layout {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.cn-container {
    width: 560px;
    margin: 35px auto;
}

.cn-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.pf-container{
    width: 1025px;
    height: 100%;
    margin: 28px auto 0;
}

.pf-container-left {
    width: 190px;
    margin-right: 30px;
}

.pf-container-right {
    height: 100%;
}

.pf-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cn-container-left {
    width: 190px;
    margin-right: 30px;
}

.no-select {
    user-select: none;
}

/* pre-built style */
.ui-sortable {
    display: block;
    position: relative;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-sortable:before,
.ui-sortable:after{
    content: " ";
    display: table;
}

.ui-sortable:after{
    clear: both;
}

.ui-sortable .ui-sortable-item {
    float: left;
    cursor: move;
}

.ui-sortable .ui-sortable-item.ui-sortable-dragging {
    position: absolute;
    z-index: 1688;
}

.ui-sortable .ui-sortable-placeholder {
    display: none;
}

.ui-sortable .ui-sortable-placeholder.visible {
    display: block;
    z-index: -1;
}

.no-cursor {
    cursor: default!important;
}
