
.switcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &__label {
    margin-left: 5px;
    font-size: 12px;
    color: #202020;
  }
}

.switcher__input { position:absolute; left:-9999px }

// **** ==== Slider v3 ==== **** //

// ********** Background:
.switcher__v3 {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  cursor: pointer;
  border-radius: 2px;
  transition: 350ms;
  background: #ddd;
}

// ********** Switch:
.switcher__v3::after {
  position: absolute; content:'';
  width: 16px;
  height: 15px;
  top: 5px;
  left: 4px;
  border-radius: 2px;
  transition:
          width 200ms ease-out,
          height 300ms 50ms ease-in,
          top 300ms 50ms ease-in,
          left 250ms 50ms ease-in,
          background 300ms ease-in,
          box-shadow 300ms ease-in;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}

.switcher__input:checked + .switcher__v3::after {
  width: 25px;
  height: 25px;
  top: 0;
  left: 27px;
  background: #4c6;
  box-shadow: 0 0 0 0 #f2f2f2 inset;
}