.cn_input {
  margin-top:10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

  &__field {
    border-radius: 3px;
    border: 1px solid #606060;
    outline: none;
    padding: 5px 7px 5px 9px;
    width: 100%;
    font-size: 12px;
    font-family: "Open sans";

  }

  &__line {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__line > span {
    height: 1px;
    width: 100%;
    display: block;
  }
}