div.hearts  {
  width: 80px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: -4px;
  display: none;
}
div.heart {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.heart_icon.active  {

  &:before {
    background-color: red;
  }
  &:after {
    background-color: red;
  }
}

.heart_icon  {
  width: 14px;
  height: 14px;
  position: relative;
  margin: 1em auto;
  transform-origin: 50% 50%;
  display: block;
  transform: rotate(45deg) scale(1);

  &:before {
    content: "";
    position: absolute;
    display: block;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #ffffff;
    width: inherit;
    height: 8px;
    top: 6px;
    left: 0;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #ffffff;
    width: 8px;
    top: 0;
    left: 6px;
    height: inherit;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.colOne {
  color: #fce473;
}
.colTwo {
  color: #f68b39;
}
.colThree {
  color: #ed6c63;
}
.colFour {
  color: #847bb9;
}
.colFive {
  color: #97cd76;
}
.colSix {
  color: #35b1d1;
}

@keyframes flowOne {
  0% {
    opacity: 0;
    bottom: 0;
    right: 14%}
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
    right: 0;
  }
  60% {
    opacity: .2;
  }
  80% {
    bottom: 80%}
  100% {
    opacity: 0;
    bottom: 100%;
    right: 18%}
}@keyframes flowTwo {
   0% {
     opacity: 0;
     bottom: 0;
     right: 0;
   }
   40% {
     opacity: .8;
   }
   50% {
     opacity: 1;
     right: 11%}
   60% {
     opacity: .2;
   }
   80% {
     bottom: 60%}
   100% {
     opacity: 0;
     bottom: 80%;
     right: 0;
   }
 }@keyframes flowThree {
    0% {
      opacity: 0;
      bottom: 0;
      right: 0;
    }
    40% {
      opacity: .8;
    }
    50% {
      opacity: 1;
      right: 30%}
    60% {
      opacity: .2;
    }
    80% {
      bottom: 70%}
    100% {
      opacity: 0;
      bottom: 90%;
      right: 0;
    }
  }
