$indigo: #5C6BC0;
$blue: #29B6F6;
$black: #717171;

$body-font-family: "Calibri";
$header-font-family: "Calibri";

.card__image__grid {
  object-fit: cover;
}

.card__image {
  display: block;
  min-height: 60px;
  overflow: hidden;
  height: 100%;
  border-radius: 3px;

  > img {
    display: block;
    margin-bottom: 0;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  &:hover > img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.card__title {
  cursor: alias;
  color: white;
  display: inline-block;
  font-family: "Open sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.20em;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &:hover {
    color: rgba(white, 0.7);
    text-decoration: none;
  }
}

.card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card__overlay--indigo {
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%,rgba(0, 0, 0, 0.10) 15%,rgba(0, 0, 0, 0.35) 65%,rgba(0, 0, 0, 0.55) 99%,rgba(0, 0, 0, 0.55) 100%);
}

.card__overlay--blue {
  background-image: linear-gradient(to bottom, rgba($blue, 0.1), rgba($blue, 0.8));
  z-index: 2;
}

.card__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 16px 16px 12px 16px;
  z-index: 3;
  width: 100%;
}

.card__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;

  &.card__meta--last {
    margin-bottom: -1px;
  }

  li {
    color: #f8f8f8;
    display: inline;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1.1em;
    opacity: 0.75;

    font-size: 10px;
    font-weight: 500;
    font-family: "Open sans";
    font-variant: normal;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);


    > a {
      color: #f8f8f8;
    }
  }
}

.card {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(220, 220, 220);
  min-height: 50px;
  font-family: Open sans;
}

.card__content {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;
  }

  &__title {
    width: 100%;
  }

  &__rating {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
  }

  &__content__title {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    display: flex;
    width: 100%;
  }

  &__title__source {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }

  &__title__source_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: #d8d8d8;
  }

  &__title__source_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
  }

  &__title__source  a {
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.45);
    text-decoration: none;
  }

  &__button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
  }

  &__time {
    margin-left: 10px;
    color:white;
  }

  &__share{
    color: white;
    cursor: pointer;
  }

  &__like {
    color: white;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    height: 18px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

  &__like_score  {
    padding-top: 5px;
    padding-left: 20px;
    height: 20px;
  }

  &__like_btn {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    height: 20px;
    margin-top: -19px;
  }

  &__like_icon_h  {
    background: url(https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png);
    height: 50px;
    width: 50px;
    background-size: 2900%;
    background-position: left center;
    display: block;
    position: absolute;
    top: -16px;
    left: -16px;
  }

  &__more {
    margin-left: 10px;
  }

  &__more_inner {
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    height: 18px;
  }

  &__more_inner > div {
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 100%;
    opacity: .7;
  }

  &__more_inner:hover > div {
    opacity: 1;
  }
}

@keyframes animationFrames{
  100%{
    background-position: -2800px ;
  }
}