.cl__header {

  border-left: 1px solid red;

  &__top {
    width: 100%;
    background: red;
    height: 2px;
  }

  &__bottom {
    width: 100%;
    background: red;
    height: 0px;
  }

  &__content {
    padding: 10px;
  }

  &__content_title {
    font-size: 16px;
  }

  &__content_title > span{
    font-size: 10px;
  }
}