.lazy {

  &__title {
    background: linear-gradient(271deg, #e1e1e1, #c6c6c6, #bbbbbb);
    background-size: 600% 600%;
    -webkit-animation: LazyLoading 14s ease infinite;
    -moz-animation: LazyLoading 14s ease infinite;
    -o-animation: LazyLoading 14s ease infinite;
    animation: LazyLoading 14s ease infinite;
    width:100%;
    height: 12px;
    display: block;
    border-radius: 2px;

    margin-top: 3px;
    margin-bottom: 3px;
  }

  &__img {
    background: linear-gradient(271deg, #f7f7f7, #e4e4e4, #f9f9f9);
    background-size: 600% 600%;
    -webkit-animation: LazyLoading 12s ease infinite;
    -moz-animation: LazyLoading 12s ease infinite;
    -o-animation: LazyLoading 12s ease infinite;
    animation: LazyLoading 12s ease infinite;
    height: 190px;
    display: block;
    margin-top: 5px;
    width: 190px;
    margin-left: -1px;
    margin-bottom: 5px;
  }

  &__item {
    width: 100%;
    height: 350px;
    background: linear-gradient(271deg, #f7f7f7, #e4e4e4, #f9f9f9);
    background-size: 600% 600%;
    -webkit-animation: LazyLoading 12s ease infinite;
    -moz-animation: LazyLoading 12s ease infinite;
    -o-animation: LazyLoading 12s ease infinite;
    animation: LazyLoading 12s ease infinite;
    margin-bottom: 5px;
  }

  &__item_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    height: 100%;
    padding: 10px;
  }

  &__item_title {
    background: linear-gradient(271deg, #e1e1e1, #c6c6c6, #bbbbbb);
    background-size: 600% 600%;
    -webkit-animation: LazyLoading 14s ease infinite;
    -moz-animation: LazyLoading 14s ease infinite;
    -o-animation: LazyLoading 14s ease infinite;
    animation: LazyLoading 14s ease infinite;
    width: 80%;
    height: 18px;
    display: block;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  &__item_footer_elem {
    background: linear-gradient(271deg, #e1e1e1, #c6c6c6, #bbbbbb);
    background-size: 600% 600%;
    -webkit-animation: LazyLoading 6s ease infinite;
    -moz-animation: LazyLoading 6s ease infinite;
    -o-animation: LazyLoading 6s ease infinite;
    animation: LazyLoading 6s ease infinite;
    width: 20px;
    height: 12px;
    display: block;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
  }

  &__item_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item_footer_t {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__item_footer_r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

.lf_column.lazy__column {
  border: 1px solid #e2e2e2;
}


@-webkit-keyframes LazyLoading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LazyLoading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes LazyLoading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes LazyLoading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}