.rating {
  &__arrow {
    cursor: pointer;
  }

  &__arrow > span {
    content: "";
    display: block;
    vertical-align: middle;
    width: 0;
    height: 0;
  }

  &__arrow.up > span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
  }

  &__arrow.up:hover > span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #29B6F6;
  }

  &__arrow.down > span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
  }

  &__arrow.down:hover > span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #29B6F6;
  }

  &__count {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    cursor: default;
    margin: 0 3px;
  }
  &__inner {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0 10px;
  }
}