@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader  {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.35rem solid rgba(99, 61, 169, 0.2);
  border-top-color: #633da9;
  animation: spin 1s infinite linear;
}