.palette {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 31px;
    height: 31px;
    display: block;
    float: left;
    margin: 5px;
    flex-grow: 1;
    border-radius: 2px;
    cursor: pointer;
  }

  &__item.active {
    border: 2px solid #c0c0c0;
  }

}